h1{
  margin-left: 150px;
  margin-top: 50px;
}

/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 2px;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 2px;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 120%;
}

/* LINE CHART */
path.line-0 {
    fill: none;
    stroke: green;
    stroke-width: 3.5px;
}

path.line-1 {
    fill: none;
    stroke: #ed3700;
    stroke-width: 3.5px;
  /*  stroke-dasharray: 2;*/
}

path.line-2 {
    fill: none;
    stroke: blue;
    stroke-width: 3.5px;
}

.serie_label {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 80%;
}
